body {
    background: #181e34;
    font-family: "Montserrat", "Arial", sans-serif;
    /* стандартный font-size браузера */
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    color: #ffffff;
}

.container {
    max-width: 930px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
}

/* =================================================== */

.header {
    padding: 30px 0 36px;
}

.header-content {
    display: flex;
    align-items: center;
}

.header-nav {
    margin-left: auto;
}

.header-list {
    display: flex;
    flex-direction: row-reverse;
}

.header-item {
    margin-right: 30px;
}

.header-item0 {
    margin-right: 34px;
}

.header-button {
    border-radius: 100px;
    background: #ffffff;
    color: #2766ae;
    padding: 14px 30px;
    font-weight: 500;
}

/* =================================================== */

.hero {
    background: url(../img/hero-bg.jpg) 10% 50% / cover no-repeat;
    padding: 120px 0;
}

.hero-title {
    font-size: 40px;
    font-weight: 600;
    line-height: 49px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 60px;
}

.hero-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-text {
    max-width: 436px;
}

.hero-text span {
    text-transform: uppercase;
    font-weight: 700;
    line-height: 20px;
    color: #01a2cb;
}

.paragraph {
    margin-bottom: 15px;
}

.list {
    margin-bottom: 10px;
}

.hero-buttons {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 320px;
}

.hero-batton-one,
.hero-batton-two {
    border-radius: 100px;
    padding: 18px 30px;
    display: flex;
    justify-content: center;
}

.hero-batton-one {
    background: linear-gradient(135deg, rgb(216, 154, 95) 30%, rgb(40, 38, 189));
    margin-bottom: 10px;
}

.hero-batton-two {
    background: linear-gradient(315deg, rgb(216, 154, 95) 30%, rgb(40, 38, 189));
}

.hero-batton-two img {
    margin-left: 4px;
}

/* ========================= */

.cards {
    padding: 120px 0;
}

.cards-title {
    font-size: 40px;
    font-weight: 600;
    line-height: 49px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 15px;
}

.cards-text {
    text-align: center;
    max-width: 513px;
    margin: 0 auto 60px;
}

.cards-flex {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -14px;
    margin-bottom: -28px;
    padding: 30px;
}

.cards-flex-item {
    padding: 0 14px;
    flex: 0 0 25%;
}

.cards-flex-inner {
    border: 2px solid rgb(181, 93, 16);
    border-radius: 16px;
    box-shadow: 4px 4px 13px 0px rgba(5, 13, 41, 0.76);
    background: rgb(220, 147, 20);
    padding: 28px 15px;
    margin-bottom: 28px;
    flex: 0 0 25%;
}

.cards-flex-title {
    font-size: 22px;
    font-weight: 600;
    line-height: 27px;
    text-transform: uppercase;
    margin-bottom: 10px;
    text-align: center;
}

.cards-flex-text {
    text-align: center;
}

.cards-button {
    display: block;
    text-align: center;
    border-radius: 100px;
    padding: 18px 30px;
    background: linear-gradient(315deg, rgb(216, 154, 95) 30%, rgb(40, 38, 189));
    max-width: 436px;
    margin: 0 auto;
}

/* =================================================== */

.footer {
    border-top: undefinedpx solid rgba(50, 57, 82, 1);
    padding: 60px 0;
}

.footer-inner {
    display: flex;
}

.footer-desc {
    max-width: 267px;
    margin-right: auto;
}

.footer-desc a {
    display: inline-block;
    margin-bottom: 15px;
}

.footer-col {
    max-width: 205px;
    width: 100%;
}

.footer-col-margin {
    margin-right: 28px;
}

.footer-title {
    font-size: 22px;
    font-weight: 600;
    line-height: 27px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.footer-item {
    margin-bottom: 10px;
}