body {
  font-family: Arial, Helvetica, sans-serif;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
  margin: 30px;
}

td,
th {
  border: 1px solid black;
  width: 30px;
  text-align: center;
}

caption,
.days {
  border: 1px solid black;
  border-bottom: none;
  font-weight: 800;
}

.weekend {
  color: #ed0808;
}
