body {
  font-family: Arial, Helvetica, sans-serif;
}

.form {
  width: 300px;
  border: 1px solid black;
  border-radius: 5%;
  background: rgb(56, 140, 204);
}

.field {
  border: none;
}

.block {
  display: block;
  margin-bottom: 10px;
}

.input {
  width: 250px;
}

.text-block {
  resize: vertical;
  width: 250px;
  max-height: 150px;
}

.button {
  width: 100px;
  border-radius: 15px 15px 15px 15px;
  margin: 0 0 15px 15px;
  border: none;
  cursor: pointer;
}
