.block {
    background: #daefef;
    height: 620px;
    border: 1px solid black;
    border-radius: 25px 0 0 25px;
    padding: 5px;
    margin: 15px;
    overflow: auto;
}

.block1 {
    background: #afac8e;
    width: 320px;
    height: 250px;
    border-radius: 30px;
    padding: 25px;
    margin: 5px 10px 10px 0px;
    box-shadow: inset 0 0 6px #000000;
    display: inline-block;
    box-sizing: border-box;
}

p {
    font-size: 20px;
}